
  <div class="col11" id="col113">
    <div class="slides">
      <div class="car"  style="background-color:rgb(45, 51, 69); color: white; border-radius: 10px;">
        <div class="customercontent" style="text-align: justify;padding: 15px;padding-top: 20px;">I'm impressed with amet consectetur adipisicing elit this product.In begining from clients and projects in the first week.</div>
        <div class="customerimg">
          <div style=" height: 50px; width: 50px;padding-left: 15px;">
          <img src="../../../assets/don.jpeg" alt="" style="border-radius: 50%;  height: 30px; width: 30px; margin-top: 5px;">
        </div>
        <div>
          <p style="padding-left: 5px; font-size: 12px;margin-top: 0px;" > <span style="font-weight: 400; font-size: 13px;">Janas Kim</span>,<br><span style="color: gray;">Product Designer</span></p>
        </div>
        </div>
      </div>
    </div>
  </div>


