<div class="container-fluid" style="padding:7%; background-color: black;">
    <div id="content">
    <h1>Prsent your business in a whole new way</h1>
    <p   id="contentss">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum fuga mollitia nisi labore quod nulla sapiente tenetur hic eos iure porro ullam, recusandae officiis nostrum delectus itaque, nam necessitatibus atque corrupti aut cupiditate distinctio numquam? Reiciendis minus accusamus excepturi, quae doloremque doloribus eum accusantium rerum rem voluptatem officia ratione nobis.</p>
    <button mat-stroked-button class="b1">Get started</button><button mat-stroked-button class="b2">Learn more</button>
    </div>
</div>
<div class="row">
   <div class="col-lg-4 col-12" id="table">
      <h1 style="text-align: center;">nuced</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore odio minima qui commodi et, molestiae distinctio facilis suscipit reprehenderit quae. Maiores labore mollitia ad repellendus nisi, minus sed atque nulla quaerat ducimus facere fuga, itaque hic! Assumenda quae repudiandae, quam placeat quidem qui nemo praesentium voluptatibus dolores optio facilis iusto.</p>
   </div>
   <div class="col-lg-4 col-12" id="table">
      <h1 style="text-align: center;">kmre</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos dolorem recusandae quaerat expedita blanditiis accusantium, ratione necessitatibus id, animi quos et! Ut inventore repellat nobis accusamus, expedita cumque natus esse. Rem, voluptatem quas aliquam vitae ipsam nesciunt odit harum minus?</p>
   </div>
   <div class="col-lg-4 col-12" id="table">
      <h1 style="text-align: center;">jrnnfr</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum maiores odio ipsum corrupti possimus enim quos, tenetur natus cupiditate. Recusandae repellendus dicta beatae nemo laboriosam asperiores quod, laudantium dolore expedita, aliquid, iusto exercitationem magni commodi.</p>
   </div>
</div>
