#content{
    text-align: center;
    color: white;
    }
.b1{
    background-color: blueviolet;
    color: white;
}
.b2{
    background-color: lightcoral;
    color: white;
    margin-left: 20px;
}
#table{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-align: justify;
    padding: 50px;
}