<div class="full">
  <div class="grid">
    <div class="col1">
      <div class="col11" id="col111">
        <div style="height: 25px;width: 25px;border-radius: 7px; background-color: blue; display: flex;align-items: center;justify-content: center;">
        <div style="background-color: white;height: 8px;width: 8px;border-radius: 50%;">
        </div>
        </div> 
      </div>
  <div class="col11" id="col112" >
    <p style="line-height: 1.5; font-size: 13px;color: gray;"><span style="font-size: 25px;font-weight: 700;color: black;">Let us help you run your freelance business.</span> <br> <br> Our registration process is quick and easy, talking no more than 10 minutes to compete.</p>
  </div>
  <app-slide1></app-slide1>
  <div class="dot">
    <div class="dotss1"></div>
    <div class="dotss"></div>
    <div class="dotss"></div>
  </div>

    </div>
    <div class="col2">
      <h2 style="margin-top: 40px;font-weight: 900;">Get started</h2>
      <p style="color: gray;">Create your acount now</p>
      <div >
        <form class="forms">
          <label for="name">Full Name</label>
          <input type="text" placeholder="Ex.Bharath R" required>
          <label for="email">Email</label>
          <input type="email" placeholder="Ex.bharath@gmail.com" required>
          <div style="display: flex;width: 95%; justify-content: space-between;margin: 0;padding: 0;">
            <div>
              <label for="pass" style="margin-bottom: 0px; color: gray;">Password</label>
            </div>
            <div >
              <p style="color: rgb(67, 172, 67); font-weight: 500; margin: 0;padding: 0;">Strong!</p>
            </div>
          </div>
            <input type="password" placeholder="*******" required>
        </form>
      </div>
        <button mat-raised-button style="width: 95%;margin-top: 20px;background-color: blue;color: white;padding: 20px;">Sign up</button><br><br>
        <p  style="margin-top: 32px;text-align: center;">Have an account? <a href="#" style="color: blue;text-decoration:none;font-weight: bold;">Login</a></p>
    </div>
  </div>
</div>

